.App {
  text-align: center;
  background-image:url("./Space\ Background.jpg");
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* animation: App-logo-breathe infinite 5s; */
  height: 40vmin;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-breathe {
  from {
    -webkit-box-shadow: 0px 0px 40px rgba(255,255,255,0.8);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.8);
  }
}

.fadesin {
  -webkit-animation: fadein 4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

button {
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border: solid white 1px;
  display: inline;  
}

button:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 40px rgba(255,255,255,0.8);
}

#NavBar {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}